* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
.theme__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
}
#text {
  line-height: 1.5;
  font-size: 30px;
}
/* transition  при оновленні сторінки*/
.transition .sun-moon__theme,
.transition .s-m_bac__l,
.transition .switch > img,
.transition .s-m_bac__l,
.transition .switch,
.transition {
  transition: all 1s linear;
}
.transition .sun-moon__theme {
  transition: opasity 1s linear;
}
